<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('inc/meta_head.ejs') %>
  <style>
    .btn {
      margin: 1px;
      padding: 5px 10px;
    }

    .perform{
      display: inline-block;
    }
  </style>
</head>

<body>

  <!--Wrapper Start-->
  <div class="wrapper color-option-2">
    <%-include('inc/header.ejs') %>


    <!--News Gallery Start-->
    <div class="news-section-wrapper news-gallery no-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <%
                            var game_name = 'Not Available';
                            var event_team_a = 'Not Available';
                            var event_team_b = 'Not Available';
                            var event_date = 'Not Available';
                            var live_game_name = 'Not Available';
                            if(typeof gameDetails.gameData !== 'undefined' && gameDetails.gameData){
                              game_name = gameDetails.gameData.game_name;
                            }
                            if(typeof gameDetails.eventData !== 'undefined' && gameDetails.eventData){
                              event_team_a = gameDetails.eventData.event_team_a;
                              event_team_b = gameDetails.eventData.event_team_b;
                            }
                            if(typeof gameDetails.eventDateData !== 'undefined' && gameDetails.eventDateData){
                              event_date = moment(gameDetails.eventDateData.event_date).format("DD-MMM-YYYY");                             
                            }
                            if(typeof gameDetails.live_event !== 'undefined' && gameDetails.live_event){
                              live_game_name = gameDetails.live_event.live_game_name;                             
                            }
                        %>
            <h3 class="section-title">[Main Game - <%=game_name%>] / [<%=event_team_a%> vs <%=event_team_b%>] /
              [<%=event_date%>] / [<%=live_game_name%>]</h3>
            <button class="pull-right btn-lg btn-success" onclick="refresh()">Refresh</button>
          </div>
        </div>
        <div class="row">


          <div class="col-md-12 col-sm-12">
            <div class="col-md-12 section-title"
              style='text-align:center;background:#333;padding:5px;margin-bottom:5px;border-radius:5px;'>
              <a href="/admin_panel/manage_match_odds_user/<%=match_id%>"><button
                  class="btn btn-danger">Back</button></a>
              <button class="btn btn-danger" onclick="updateAllStatus(1)">Suspend All</button>
              <button class="btn btn-danger" onclick="updateAllStatus(2)">Ball Running</button>
              <button class="btn btn-danger" onclick="updateAllStatus(0)">Active All</button>
              <button class="btn btn-danger" onclick='updatehideshow(1)'>Hide All</button>
              <button class="btn btn-danger" onclick='updatehideshow(0)'>Show All</button>
              <a href='/admin_panel/manage_ball_running/<%=match_id%>'><button class="btn btn-success">Manage Ball
                  Running</button></a>

              <button class="btn btn-success" onclick="add_market()">Add New Market</button>
              <div class="clearfix">
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">


            <div class="col-md-12">
              <div class="schedule-tab">


                <!-- Nav tabs -->
                <ul class="nav" role="tablist">
                  <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab"
                      data-toggle="tab" aria-expanded="true">Allot User</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="add">
                    <!-- <h6>Add</h6> -->

                    <div class='rg-container'>
                      <table class='rg-table' id="match_odds_table" summary='Hed'>

                        <thead>
                          <tr>
                            <th class='text '>Rank</th>
                            <th class='text '>User Rank</th>
                            <th class='text '>Title</th>
                            <th class='text '>active/ballrunning/suspend</th>
                            <th class='number '>Action</th>
                            <th class='number '>Alloted to</th>
                          </tr>
                        </thead>
                        <tbody id="matchodds">
                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>

              </div>

            </div>






          </div>
        </div>
        <!-- <div class="row text-center">  </div> -->
      </div>
    </div>
    <!--News Gallery End-->

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure ! You want to delete this Market?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
          </div>
        </div>
      </div>
  </div>



    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id='edit_modal_title'>Modal Header</h4>
          </div>
          <form class="form-horizontal" action="" onsubmit="return updateLayOdds(this)">
            <div class="modal-body">
              <input type="hidden" class="form-control" id="market_id" placeholder="Diff">
              <input type="hidden" id="unq_id" value="337">
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Title</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Diff</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_Diff" placeholder="Diff">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">No</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_backAll" placeholder="Back All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Yes</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_layAll" placeholder="Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Rank</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_layAll_rank" placeholder="Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">User Rank</label>
                <div class="col-sm-9">
                  <input type="text" value="0" id="user_rank" class="form-control" placeholder="User Rank">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number No</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="numbackLay" placeholder="Number Lay All">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number Yes</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="numbLayAll" placeholder="Number Lay All">
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Active/Suspend/Bowling</label>
                <div class="col-sm-9"> 
                 <select name="" id="update_status" class="form-control">
                   <option value="">SELECT</option>
                   <option value="0">Active</option>
                   <option value="1">Suspend</option>
                   <option value="3">Bowl Running</option>
                 </select>
                </div>
              </div> -->

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div id="addMarket" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id='edit_modal_title'>Modal Header</h4>
          </div>
          <form class="form-horizontal" onsubmit="return addMarketNew(this)">
            <div class="modal-body">
              <input type="hidden" class="form-control" name="main_match_id" value="<%=match_id;%>" placeholder="Diff">
              <div class="form-group">
                <label class="control-label col-sm-3" name="" for="email">Title</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Diff</label>
                <div class="col-sm-9">
                  <input type="text" value="1" name="diff" class="form-control" placeholder="Diff">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Yes</label>
                <div class="col-sm-9">
                  <input type="text" value="0" name="yes" class="form-control" placeholder="Back All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">No</label>
                <div class="col-sm-9">
                  <input type="text" value="0" name="no" class="form-control" placeholder="Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Rank</label>
                <div class="col-sm-9">
                  <input type="text" value="9999" name="rank" class="form-control" placeholder="Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">User Rank</label>
                <div class="col-sm-9">
                  <input type="text" value="9999" name="user_rank" class="form-control" placeholder="User Rank">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number No</label>
                <div class="col-sm-9">
                  <input type="text" value="0" name="no_yes" class="form-control" placeholder="Number Lay All">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number Yes</label>
                <div class="col-sm-9">
                  <input type="text" value="0" name="no_no" class="form-control" placeholder="Number Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Market Type</label>
                <div class="col-sm-9">
                  <select class="form-control" name="market_type">
                    <option value="0">BackLay</option>
                    <option value="1">layAll</option>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Active/Suspend/Bowling</label>
                <div class="col-sm-9"> 
                 <select name="" id="update_status" class="form-control">
                   <option value="">SELECT</option>
                   <option value="0">Active</option>
                   <option value="1">Suspend</option>
                   <option value="3">Bowl Running</option>
                 </select>
                </div>
              </div> -->

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <%-include('inc/footer.ejs') %>
    <script src="/admin_panel/plugins/socket.js"></script>
    <script>
      const match_id = '<%=match_id%>';
      const user_id = '<%=userData._id%>';
    </script>
    <script src="/admin_panel/plugins/custom.js"></script>
   <script>


document.querySelectorAll(".perform").forEach((element) => {
            element.addEventListener("click", () => {
              $("#deleteConfirmationModal").modal("show");
              document
                .getElementById("confirmDelete")
                .addEventListener("click", function confirmDeleteHandler() {
                  let marketId = element.dataset.marketId;
                  console.log("market id: ", marketId);
                  fetch(`/admin_panel/delete_admin/${marketId}`)
                .then((res)=> {
                    console.log("res ok", res)
                    window.location.reload();
                })
                .catch((err)=> {
                    console.log("okor", err)
                });
                  $("#deleteConfirmationModal").modal("hide");
                  this.removeEventListener("click", confirmDeleteHandler);
                });
            });
          });


 
  const socket = io({
  reconnection: true, // Enable reconnection
  reconnectionDelay: 1000, // Delay between retries (1 second)
  reconnectionDelayMax: 5000, // Maximum delay between retries (5 seconds)
  reconnectionAttempts: Infinity, // Retry indefinitely (or set a limit)
});
socket.connect('http://103.73.191.38:3025/' ,  {
      transports: ['websocket',  'polling']
})

socket.on("connection", ()=>{
  console.log("connected to socketss 3")
})
socket.on('connect_error', (err) => {
  console.error('Connection error:', err);
});

socket.on('reconnect', () => {
  console.log('Reconnected to server');
});

socket.on('disconnect', () => {
  console.log('Disconnected from server');
});

function refresh() {
  getMatchodds_all(match_id);
}
function add_market() {
  $("#addMarket").modal();
}
function addMarketNew(e) {
  let o = e.main_match_id.value,
    n = e.title.value,
    t = e.diff.value,
    c = e.yes.value,
    a = e.no.value,
    r = e.rank.value,
    l = e.no_yes.value,
    s = e.no_no.value,
    d = e.market_type.value,
    i = e.user_rank.value,
    _ = {};
  return (
    (_.main_match_id = o),
    (_.title = n),
    (_.diff = t),
    (_.yes = c),
    (_.no = a),
    (_.rank = r),
    (_.no_yes = l),
    (_.no_no = s),
    (_.market_type = d),
    (_.user_rank = i),
    $.post("/admin_panel/api/addMarketNew", _, function (o) {
      e.reset(),
        (e.title.value = ""),
        (e.diff.value = 1),
        (e.yes.value = 0),
        (e.no.value = 0),
        (e.rank.value = 9999),
        (e.no_yes.value = 0),
        (e.no_no.value = 0),
        o ? alert("Market Added") : alert("Try Again Later"),
        $("#addMarket").modal("hide"),
        refresh();
    }),
    !1
  );
}
socket.on("error", (e) => {
  console.log("Error connecting to server", e);
}),
  socket.on("disconnect", () => {
    console.log("Disconnect from server");
  }),
  socket.on("reconnect", (e) => {
    console.log("Reconnected to server", e);
  }),
  socket.on("reconnect_attempt", () => {
    console.log("Reconnect Attempt");
  }),
  socket.on("reconnecting", (e) => {
    console.log("Reconnecting to server", e);
  }),
  socket.on("reconnect_error", (e) => {
    console.log("Reconnect Error", e);
  }),
  socket.on("reconnect_failed", () => {
    console.log("Reconnect failed");
  }),
  socket.on("connect_error", () => {
    console.log("connect_error");
  }),
  socket.on("refresh_status", function () {
    console.log("ok2");
    getMatchodds_all(match_id);
    getMatchodds_all2(match_id);
  }),
  socket.on("refresh_showhide", function () {
    getMatchodds_all(match_id);
  }),
  getMatchodds_all2(match_id);

   </script>
</body>

</html>