<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('inc/meta_head.ejs') %>
</head>

<body>

    <!--Wrapper Start-->
    <div class="wrapper color-option-2">
            <%-include('inc/header.ejs') %>
       

    <!--News Gallery Start-->
        <div class="news-section-wrapper news-gallery no-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Edit Game</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                       

                       <div class="col-md-12">
                        <div class="schedule-tab">
                            

                            <!-- Nav tabs -->
                            <ul class="nav" role="tablist">
                                <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="true">Edit</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="add">
                                    <!-- <h6>Add</h6> -->

                                    <form action="/admin_panel/edit_manage_game/<%=game_id%>" method="POST">
                                      
                                      <div class="form-group">
                                        <label >Game Title</label>
                                        <input type="text" value="<%=gameData.game_name%>" name="game_name" class="form-control">
                                      </div>
                                      
                                      <button type="submit" class="btn btn-warning">Submit</button>

                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>     
                         
                       




                    </div>
                </div>
                <!-- <div class="row text-center">  </div> -->
            </div>
        </div>
        <!--News Gallery End-->
       
    
        <%-include('inc/footer.ejs') %>
        </body>
</html>