<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('inc/meta_head.ejs') %>
    
    <link rel="stylesheet" href="/admin_panel/jquery-ui.min.css">
    <script type="text/javascript" src="/admin_panel/jquery-ui.min.js"></script>
</head>

<body>

    <!--Wrapper Start-->
    <div class="wrapper color-option-2">
    <%-include('inc/header.ejs') %>
       

    <!--News Gallery Start-->
        <div class="news-section-wrapper news-gallery no-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Manage Live Game</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                       

                       <div class="col-md-12">
                        <div class="schedule-tab">
                            

                            <!-- Nav tabs -->
                            <ul class="nav" role="tablist">
                                <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="true">Create Live Game</a></li>
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="add">
                                    <!-- <h6>Add</h6> -->

                                    <form action="/admin_panel/edit_manage_live_game/<%=live_game_id%>" method="POST">
                                      
                                      <div class="form-group">
                                        <label for="">Select Game</label>
                                        <select onchange="getGameEvents(this.value)" name="game_name" class="form-control" id="" required>
                                        <option value="">--Select--</option>
                                        <% GamesList.forEach(function(row){ %>
                                            <% if(livegameData.game_id == row._id){ %>
                                                <option selected value="<%=row._id;%>"><%=row.game_name;%></option>
                                            <% } else {%>
                                                <option value="<%=row._id;%>"><%=row.game_name;%></option>
                                            <% } %>
                                        <% }); %>
                                    </select>
                                      </div>

                                      <div class="form-group">
                                        <label for="">Select Game Event</label>
                                        <select onchange="getGameDate(this.value)" name="match_event"  class="form-control" id="game_events" required>
                                            <option value="">--Select--</option>
                                        </select>
                                      </div>

                                      <div class="form-group">
                                        <label for="">Game Date</label>
                                        <select class="form-control" id="game_date" name="event_name" required>
                                            <option value="">--Select--</option>
                                        </select>
                                      </div>

                                      <div class="form-group">
                                        <label for="">Live Game Name</label>
                                        <input type="text" value="<%=livegameData.live_game_name;%>" name="live_game_name" class="form-control" required>
                                      </div>

                                     
                                      
                                      <button type="submit" class="btn btn-warning">Submit</button>

                                    </form>
                                    
                                </div>

                            </div>
                        </div>
                       
                    </div>     
                         
                       




                    </div>
                </div>
                <!-- <div class="row text-center">  </div> -->
            </div>
        </div>
        <!--News Gallery End-->
       
    
        <%-include('inc/footer.ejs') %>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/admin_panel/js/moment.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker({
      dateFormat: 'yy/mm/dd',
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true
      /*minDate: 0*/ 
    });
  } );

  function getGameEvents(game_id){
    $.ajax({
        url : "/admin_panel/get_match_events",
        type : "POST",
        data : {game_id : game_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                layout += "<option value='"+Row._id+"'>"+Row.event_team_a+" VS "+Row.event_team_b+"</option>";
            })
            $('#game_events').html(layout);
        }
    });
  }

  function getGameDate(event_id){
    $.ajax({
        url : "/admin_panel/get_match_date",
        type : "POST",
        data : {event_id : event_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                layout += "<option value='"+Row._id+"'>"+moment(Row.event_date).format('DD-MMM-YYYY')+"</option>";
            })
            $('#game_date').html(layout);
        }
    });
  }

  function getGameEventsEdit(game_id, old_event_id){
    $.ajax({
        url : "/admin_panel/get_match_events",
        type : "POST",
        data : {game_id : game_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                if(old_event_id == Row._id){
                    layout += "<option selected value='"+Row._id+"'>"+Row.event_team_a+" VS "+Row.event_team_b+"</option>";
                }else{
                    layout += "<option value='"+Row._id+"'>"+Row.event_team_a+" VS "+Row.event_team_b+"</option>";
                }
                
            })
            $('#game_events').html(layout);
        }
    });
  }

  function getGameDateEdit(event_id,event_date){
    $.ajax({
        url : "/admin_panel/get_match_date",
        type : "POST",
        data : {event_id : event_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                if(event_date == Row._id){
                    layout += "<option selected value='"+Row._id+"'>"+moment(Row.event_date).format('DD-MMM-YYYY')+"</option>";
                }else{
                    layout += "<option value='"+Row._id+"'>"+moment(Row.event_date).format('DD-MMM-YYYY')+"</option>";
                }
                
            })
            $('#game_date').html(layout);
        }
    });
  }

  getGameEventsEdit("<%=livegameData.game_id;%>","<%=livegameData.event_id;%>");
  getGameDateEdit("<%=livegameData.event_id;%>","<%=livegameData.event_date_id;%>");
</script>
</body>
</html>