<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('inc/meta_head.ejs') %>
</head>
<style>
    .perform{
        display: inline-block;
    }
</style>

<body>

    <!--Wrapper Start-->
    <div class="wrapper color-option-2">
            <%-include('inc/header.ejs') %>
       

    <!--News Gallery Start-->
        <div class="news-section-wrapper news-gallery no-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Manage Game</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure ! You want to delete this Market?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                              <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                       

                       <div class="col-md-12">
                        <div class="schedule-tab">
                            

                            <!-- Nav tabs -->
                            <ul class="nav" role="tablist">
                                <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="true">Add</a></li>
                                <li role="presentation" class=""><a href="#manage" aria-controls="manage" role="tab" data-toggle="tab" aria-expanded="false">Manage</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="add">
                                    <!-- <h6>Add</h6> -->

                                    <form action="/admin_panel/save_manage_game" method="POST">
                                      
                                      <div class="form-group">
                                        <label >Game Title</label>
                                        <input type="text" name="match_game" class="form-control">
                                      </div>
                                      
                                      <button type="submit" class="btn btn-warning">Submit</button>

                                    </form>
                                    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="manage">
                                   <!--  <h6>Manage</h6> -->

                                  <div class='rg-container'>
                                        <table class='rg-table' summary='Hed'>
                                           
                                            <thead>
                                                <tr>
                                                    <th class='text '>Game</th>
                                                    <th class='text '>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <% GamesList.forEach(function(row){ %>
                                                    <tr class=''>
                                                        <td class='text ' data-title='Game'><%=row.game_name%></td>
                                                        <td class='text ' data-title='Action'> 
                                                            <a href="/admin_panel/edit_game/<%=row._id%>"><button class="btn btn-success">Edit</button></a>
                                                            <a><button data-market-id="<%=row._id%>" class="btn btn-danger perform">Delete</button></a>

                                                        </td>
                                                    </tr>
                                                <% }); %> 

                                                  
                                            </tbody>
                                        </table>
                                        
                                    </div>  

                                </div>
                            </div>
                        </div>
                       
                    </div>     
                         
                       




                    </div>
                </div>
                <!-- <div class="row text-center">  </div> -->
            </div>
        </div>
        <!--News Gallery End-->
        <script>

                document.querySelectorAll(".perform").forEach((element) => {
            element.addEventListener("click", () => {
              $("#deleteConfirmationModal").modal("show");
              document
                .getElementById("confirmDelete")
                .addEventListener("click", function confirmDeleteHandler() {
                  let marketId = element.dataset.marketId;
                  console.log("market id: ", marketId);
                  fetch(`/admin_panel/delete_game/${marketId}`)
                .then((res)=> {
                    console.log("res ok", res)
                    window.location.reload();
                })
                .catch((err)=> {
                    console.log("okor", err)
                });
                  $("#deleteConfirmationModal").modal("hide");
                  this.removeEventListener("click", confirmDeleteHandler);
                });
            });
          });
            
            
        </script>
       
    
        <%-include('inc/footer.ejs') %>
        </body>
</html>