<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('inc/meta_head.ejs') %>
     <link rel="stylesheet" href="/admin_panel/jquery-ui.min.css">
     <script type="text/javascript" src="/admin_panel/jquery-ui.min.js"></script>
</head>
<style>
    .perform{
        display: inline-block;
    }
</style>

<body>

    <!--Wrapper Start-->
    <div class="wrapper color-option-2">
    <%-include('inc/header.ejs') %>
       

    <!--News Gallery Start-->
        <div class="news-section-wrapper news-gallery no-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Manage Game Date</h2>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure ! You want to delete this Market?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                              <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                       

                       <div class="col-md-12">
                        <div class="schedule-tab">
                            

                            <!-- Nav tabs -->
                            <ul class="nav" role="tablist">
                                <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="true">Add Game Date</a></li>
                                <li role="presentation" class=""><a href="#manage" aria-controls="manage" role="tab" data-toggle="tab" aria-expanded="false">Manage Game Date</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="add">
                                    <!-- <h6>Add</h6> -->

                                    <form method="post" action="/admin_panel/save_match_date">
                                      
                                      <div class="form-group">
                                        <label for="">Select Game</label>
                                        <select onchange="getGameEvents(this.value)" name="game_name" class="form-control" id="">
                                            <option value="">--Select--</option>
                                            <% GamesList.forEach(function(row){ %>
                                                <option value="<%=row._id;%>"><%=row.game_name;%></option>
                                            <% }); %>
                                        </select>
                                      </div>

                                      <div class="form-group">
                                        <label for="">Select Game Event</label>
                                        <select name="game_event" class="form-control" id="game_events">
                                            <option value="">--Select--</option>
                                            <option value="">ABC vs XYZ</option>
                                        </select>
                                      </div>

                                      <div class="form-group">
                                        <label for="">Game Date</label>
                                        <input type="text" name="event_date" class="form-control datepicker" placeholder="YYYY/MM/DD">
                                      </div>

                                     
                                      
                                      <button type="submit" class="btn btn-warning">Submit</button>

                                    </form>
                                    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="manage">
                                   <!--  <h6>Manage</h6> -->

                                  <div class='rg-container'>
                                        <table class='rg-table' summary='Hed'>
                                           
                                            <thead>
                                                <tr>
                                                    <th class='text '>Date</th>
                                                    <th class='text '>Teams</th>
                                                    <th class='text '>Game</th>
                                                    <th class='text '>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% EventModel.forEach(row => { %>
                                                    <tr class=''>
                                                        <td class='text ' data-title='Date'><%=moment(row.row.event_date).format('DD-MMM-YYYY'); %></td>
                                                        <td class='text ' data-title='Teams'>
                                                            <% if(typeof row.Event !== 'undefined' && row.Event) { %>
                                                            <%=row.Event.event_team_a+' VS '+row.Event.event_team_b; %>
                                                            <% } %>
                                                            </td>
                                                        <td class='text ' data-title='Game'>
                                                            <% if(typeof row.game !== 'undefined' && row.game){ %>
                                                            <%=row.game.game_name;%>
                                                            <% } %>
                                                            </td>
                                                        <td class='text ' data-title='Action'> 
                                                        <a href="/admin_panel/edit_event_date/<%=row.row._id%>"><button class="btn btn-success">Edit</button></a>
                                                        <a><button data-market-id="<%=row.row._id%>" class="btn btn-danger perform">Delete</button></a>

                                                        </td>
                                                    </tr>
                                                <% }); %>

                                                  
                                            </tbody>
                                        </table>
                                        
                                    </div>  

                                </div>
                            </div>
                        </div>
                       
                    </div>     
                         
                       




                    </div>
                </div>
                <!-- <div class="row text-center">  </div> -->
            </div>
        </div>
        <!--News Gallery End-->
       
    
        <%-include('inc/footer.ejs') %>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker({
      dateFormat: 'yy/mm/dd',
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true
      /*minDate: 0*/ 
    });
  } );

  function getGameEvents(game_id){
    var layout = "<option value=''>--Select--</option>";
    $('#game_events').html(layout);
    $.ajax({
        url : "/admin_panel/get_match_events",
        type : "POST",
        data : {game_id : game_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                layout += "<option value='"+Row._id+"'>"+Row.event_team_a+" VS "+Row.event_team_b+"</option>";
            })
            $('#game_events').html(layout);
        }
    });
  }
  function getGameEventsEdit(game_id){
    var layout = "<option value=''>--Select--</option>";
    $('#game_events').html(layout);
    $.ajax({
        url : "/admin_panel/get_match_events",
        type : "POST",
        data : {game_id : game_id},
        success : function(data){
            var obj = JSON.parse(data);
            var layout = "<option value=''>--Select--</option>";
            obj.forEach(Row => {
                layout += "<option value='"+Row._id+"'>"+Row.event_team_a+" VS "+Row.event_team_b+"</option>";
            })
            $('#game_events').html(layout);
        }
    });
  }


  document.querySelectorAll(".perform").forEach((element) => {
            element.addEventListener("click", () => {
              $("#deleteConfirmationModal").modal("show");
              document
                .getElementById("confirmDelete")
                .addEventListener("click", function confirmDeleteHandler() {
                  let marketId = element.dataset.marketId;
                  console.log("market id: ", marketId);
                  fetch(`/admin_panel/delete_date/${marketId}`)
                .then((res)=> {
                    console.log("res ok", res)
                    window.location.reload();
                })
                .catch((err)=> {
                    console.log("okor", err)
                });
                  $("#deleteConfirmationModal").modal("hide");
                  this.removeEventListener("click", confirmDeleteHandler);
                });
            });
          });




  
</script>
</body>
</html>