<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('inc/meta_head.ejs') %>
  <style>
    .btn {
      margin: 1px;
      padding: 5px 10px;

    }

    table.rg-table td {
      padding: 0.25em;
      font-size: 0.8em;
    }
  </style>
</head>

<body>

  <!--Wrapper Start-->
  <div class="wrapper color-option-2">
    <%-include('inc/header.ejs') %>


    <!--News Gallery Start-->
    <div class="news-section-wrapper news-gallery no-margin">
      <div class="container-fluid">
        <div class="row mx-0">
          <div class="col-md-12">
            <%
                    var game_name = 'Not Available';
                    var event_team_a = 'Not Available';
                    var event_team_b = 'Not Available';
                    var event_date = 'Not Available';
                    var live_game_name = 'Not Available';
                    if(typeof gameDetails.gameData !== 'undefined' && gameDetails.gameData){
                      game_name = gameDetails.gameData.game_name;
                    }
                    if(typeof gameDetails.eventData !== 'undefined' && gameDetails.eventData){
                      event_team_a = gameDetails.eventData.event_team_a;
                      event_team_b = gameDetails.eventData.event_team_b;
                    }
                    if(typeof gameDetails.eventDateData !== 'undefined' && gameDetails.eventDateData){
                      event_date = moment(gameDetails.eventDateData.event_date).format("DD-MMM-YYYY");                             
                    }
                    if(typeof gameDetails.live_event !== 'undefined' && gameDetails.live_event){
                      live_game_name = gameDetails.live_event.live_game_name;                             
                    }
                %>
            <h3 class="section-title">[Main Game - <%=game_name%>] / [<%=event_team_a%> vs <%=event_team_b%>] /
              [<%=event_date%>] / [<%=live_game_name%>]</h3>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-12 col-sm-12">
            <div class="col-md-12" style='background:#333;padding:5px;margin-bottom:5px;border-radius:5px;'>

              <div class="col-md-8 col-sm-12">
                <select class="form-control" id="tranfer_admin">
                  <option>-- Select Mini Admin To Transfer --</option>
                  <% userList.forEach(row => { %>
                  <option value='<%=row._id %>'><%=row.username %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-2 col-sm-2">
                <button onclick="adduser()" class="btn btn-success form-control">Transfer User</button>

              </div>
              <div class="col-md-2 col-sm-2">
                <a href="/admin_panel/alot_user/<%=match_id%>" class="btn btn-success form-control">Alot User</a>

              </div>
              <div class='clearfix'></div>
            </div>

          </div>

          <div class="col-md-12 col-sm-12">
            <div class="col-md-12 section-title"
              style='text-align:center;background:#333;padding:5px;margin-bottom:5px;border-radius:5px;'>
              <button class="btn btn-danger" onclick="updateAllStatus(1)">Suspend All</button>
              <button class="btn btn-danger" onclick="updateAllStatus(2)">Ball Running</button>
              <button class="btn btn-danger" onclick="updateAllStatus(0)">Active All</button>
              <button class="btn btn-danger" onclick='updatehideshow(1)'>Hide All</button>
              <button class="btn btn-danger" onclick='updatehideshow(0)'>Show All</button>
              <a href='/admin_panel/manage_ball_running/<%=match_id%>'><button class="btn btn-success">Manage Ball
                  Running</button></a>
              <button class="btn btn-info market-link">Market Link</button>
              <div class="clearfix"></div>
            </div>

          </div>

        </div>
        <style>
          .icon-bar {
            width: 30px;
            background-color: #d9534f;
            /* display: inline; */
            position: fixed;
            top: 40%;
            left: 0;
            z-index: 9999;
          }

          .icon-bar a {
            display: block;
            text-align: center;
            padding: 6px;
            transition: all 0.3s ease;
            color: white;
            font-size: 20px;
          }

          .icon-bar a:hover {
            background-color: #000;
          }




          .icon-bar2 {
            width: 30px;
            background-color: #5cb85c;
            /* display: inline; */
            position: fixed;
            top: 40%;
            right: 0;

            z-index: 9999;
          }

          .icon-bar2 a {
            display: block;
            text-align: center;
            padding: 6px;
            transition: all 0.3s ease;
            color: white;
            font-size: 20px;
          }

          .icon-bar2 a:hover {
            background-color: #000;
          }

          .in {
            background: #1a1a1a47;
          }
          .perform{
            display: inline-block;
          }
          .perform_delete{
            display: inline-block;
          }
        </style>


        <div class="icon-bar">

          <a href="javascript:void(0)" onclick="update_user_wise(1)" title="Suspend All"><i class="fa fa-times"></i></a>
          <a href="javascript:void(0)" onclick="update_user_wise(2)" title="Ball Running All"><i
              class="fa fa-circle"></i></a>
          <a href="javascript:void(0)" onclick="update_user_wise(0)" title="Active All"><i
              class="fa fa-check-square"></i></a>
          <a href="javascript:void(0)" onclick="showhide_user_wise(1)" title="Hide All"><i
              class="fa fa-eye-slash"></i></a>
          <a href="javascript:void(0)" onclick="showhide_user_wise(0)" title="Show All"><i class="fa fa-eye"></i></a>
        </div>
        <div class="icon-bar2">

          <a href="javascript:void(0)" onclick="updateAllStatus(1)" title="Suspend All"><i class="fa fa-times"></i></a>
          <a href="javascript:void(0)" onclick="updateAllStatus(2)" title="Ball Running All"><i
              class="fa fa-circle"></i></a>
          <a href="javascript:void(0)" onclick="updateAllStatus(0)" title="Active All"><i
              class="fa fa-check-square"></i></a>
          <a href="javascript:void(0)" onclick="updatehideshow(1)" title="Hide All"><i class="fa fa-eye-slash"></i></a>
          <a href="javascript:void(0)" onclick="updatehideshow(0)" title="Show All"><i class="fa fa-eye"></i></a>
        </div>
        <div class="row mx-0">
          <div class="col-md-12 col-sm-12">
            <div class="col-md-12">
              <button class='btn-sm btn-success pull-right' onclick='refresh()'>Refresh</button>
              <br>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">


            <div class="col-md-12">
              <div class="schedule-tab">


                <!-- Nav tabs -->
                <ul class="nav" role="tablist">
                  <li role="presentation" class="active"><a href="#add" aria-controls="tab1" role="tab"
                      data-toggle="tab" aria-expanded="true">Manage Match Odds</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="add">
                    <!-- <h6>Add</h6> -->
                    <div id="linkedMarkets">
                    </div>
                    <div id="matchodds">
                    </div>
                    <hr style="background-color : #000;" height='2px'>
                    <div id="transfermatchodds">

                    </div>




                  </div>

                </div>

              </div>

            </div>






          </div>
        </div>
        <!-- <div class="row text-center">  </div> -->
      </div>
      <%-include('inc/footer.ejs') %>
    </div>
    <!--News Gallery End-->
    <div id="marketLinkModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Market Link</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" id="link_market">Link</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure ! You want to delete this Market?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id='edit_modal_title'>Modal Header</h4>
          </div>
          <form class="form-horizontal" action="" onsubmit="return updateLayOdds(this)">
            <div class="modal-body">
              <input type="hidden" class="form-control" id="market_id" placeholder="Diff">
              <input type="hidden" id="unq_id" value="337">
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Title</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Diff</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_Diff" placeholder="Diff">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">No</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_backAll" placeholder="Back All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Yes</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_layAll" placeholder="Lay All">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Rank</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="update_layAll_rank" placeholder="Rank">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">User Rank</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="user_rank" placeholder="User Rank">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number No</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="numbackLay" placeholder="Number Lay All">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Number Yes</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="numbLayAll" placeholder="Number Lay All">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <script src="/admin_panel/plugins/socket.js"></script>
    <script>
      const match_id = '<%=match_id%>';
      const user_id = '<%=userData._id%>';
        // const user_id = '';
    </script>
    <script src="/admin_panel/plugins/custom.js"></script>
    <script>

var socket1 = io({
  reconnection: true, // Enable reconnection
  reconnectionDelay: 1000, // Delay between retries (1 second)
  reconnectionDelayMax: 5000, // Maximum delay between retries (5 seconds)
  reconnectionAttempts: Infinity, // Retry indefinitely (or set a limit)
});

socket1.connect(window.location.origin + "/");
function refresh() {
  getMatchodds(match_id, user_id), transfer(), getMarketLink(match_id, user_id);
}
  
socket1.on("connection", ()=>{
  console.log("connected to socketss")
})
socket1.on('connect_error', (err) => {
  console.error('Connection error:', err);
});

socket1.on('reconnect', () => {
  console.log('Reconnected to server');
});

socket1.on('disconnect', () => {
  console.log('Disconnected from server');
});

  socket1.on("refresh_status", function () {
    refresh_status(), transfer();
  }),
  socket1.on("refresh_showhide", function () {
    refresh_showhide(), transfer();
  }),
  socket1.on("refresh_all", function () {
    getMatchodds(match_id, user_id);
  });
var transuser = [];
function adduser() {
  var t = $("#tranfer_admin").val();
  if (0 == check_value(transuser, t))
    if (((len = transuser.length), len + 1 <= 4)) {
      var a = $("#tranfer_admin option:selected").text(),
        e = {};
      (e.val = t), (e.user = a), transuser.push(e), transfer();
    } else alert("Cannot Transfer More Than 4 Admin User");
  else alert("Already Transfered");
}
function check_value(t, a) {
  for (var e = !1, n = t.length, i = 0; i < n; i++) t[i].val == a && (e = !0);
  return e;
}
async function transfer() {
  let t = "";
  for ($("#transfermatchodds").html(""), i = 0; i < transuser.length; i++)
    t += await gettransferMatchodds(match_id, transuser[i].val, i);
  $("#transfermatchodds").append(t);
}
function transferremove(t, a) {
  document.getElementById("user" + t).remove(),
    transuser.splice(a, 1),
    refresh();
}
async function update_user_wise(t) {
  for (await updateAllStatus_user(t, user_id), i = 0; i < transuser.length; i++)
    await updateAllStatus_user(t, transuser[i].val);
  $.get("/admin_panel/api/refresh_status");
}
async function showhide_user_wise(t) {
  for (await updatehideshow_user(t, user_id), i = 0; i < transuser.length; i++)
    await updatehideshow_user(t, transuser[i].val);
  $.get("/admin_panel/api/refresh_showhide");
}
function getMatchodds3(t, a) {
  $.post(
    "/admin_panel/api/getMatch_data",
    { match_id: t, user_id: a },
    function (t) {
      let a = JSON.parse(JSON.stringify(t)),
        e = a.match_layoff,
        n = a.match_match_odds,
        i = "",
        s = "";
      e.forEach(function (t) {
        let a = "background : #fff;color:#000",
          e = "B/L";
        if (1 == t.market_type) {
          (a = "background :#333;color:#fff"), (e = "F/M");
          t.match_yes && t.match_yes.toFixed(0),
            t.match_no && t.match_no.toFixed(0);
        }
        i +=
          '<tr style="' +
          a +
          '"><td><input type="checkbox" name="mSelect[]" value="' +
          t._id +
          '"></td><td>' +
          t.match_name +
          "</td><td>" +
          e +
          "</td></tr>";
      }),
        n.forEach(function (t) {
          let a = "background : #fff;color:#000",
            e = "B/L";
          if (1 == t.market_type) {
            (a = "background :#333;color:#fff"), (e = "F/M");
            t.match_yes && t.match_yes.toFixed(0),
              t.match_no && t.match_no.toFixed(0);
          }
          s +=
            '<tr style="' +
            a +
            '"><td><input type="checkbox" name="mSelect[]" value="' +
            t._id +
            '"></td><td>' +
            t.match_name +
            "</td><td>" +
            e +
            "</td></tr>";
        }),
        $("#marketLinkModal .modal-body").html(
          "<div class='rg-container'><table class='rg-table' id='match_odds_table' summary='Hed'><thead><tr><th class='text '></th><th class='text '>Title</th><th class='text '>Type</th></tr></thead><tbody >" +
            i +
            s +
            "</tbody></table></div>"
        ),
        sortTable("match_odds_table");
    }
  );
}
function getMarketLink(t, a) {
  $.post(
    "/admin_panel/api/getlinkedMarkets",
    { match_id: t, user_id: a },
    function (t) {
      let a = JSON.parse(JSON.stringify(t)),
        e = 1,
        n = "";
      a.forEach(function (t) {
        (n +=
          "<h5>Market Linkss " +
          e +
          ' : <button data-id="' +
          t.link._id +
          '" data-action-type="0" class="btn btn-info btn-sm market-inc" ><i class="fa fa-plus"></i></button><button data-id="' +
          t.link._id +
          '" data-action-type="1" class="btn btn-success market-dec"><i class="fa fa-minus"></i></button><button data-id="' +
          t.link._id +
          '" data-action-type="2" class="btn btn-danger market-remove perform_delete"><i class="fa fa-trash"></i></button><button data-id="' +
          t.link._id +
          '" data-action-type="3" class="btn btn-danger market-suspend">Suspend</button><button data-id="' +
          t.link._id +
          '" data-action-type="4" class="btn btn-danger market-ball-running">Ball Running</button><button data-id="' +
          t.link._id +
          '" data-action-type="5" class="btn btn-success market-active">Active</button></h5>'),
          (n +=
            "<div class='rg-container'><table class='rg-table' id='match_odds_table' summary='Hed'><thead><tr><th class='text '>Rank</th><th class='text '>Title</th><th class='text '>Type</th><th class='text '>Diff</th><th class='text '>B.ALL/No</th><th class='text '>L.All/Yes</th><th class='text '>Current Status</th><th class='text '>Action</th><th class='text '>+ / -</th><th class='number '>Action</th></tr></thead><tbody >"),
          (n += getLayout(t.list)),
          (n += "</tbody></table></div>"),
          e++;
      });
      $("#linkedMarkets").html(n + ""),
        $(".market-inc").on("click", function () {
          let t = $(this);
          incdecDataMarketLink(t.attr("data-id"), t.attr("data-action-type"));
        }),
        $(".market-dec").on("click", function () {
          let t = $(this);
          incdecDataMarketLink(t.attr("data-id"), t.attr("data-action-type"));
        }),

        // document.querySelectorAll(".perform").forEach((element) => {
        //     element.addEventListener("click", () => {
        //       $("#deleteConfirmationModal").modal("show");
        //       document
        //         .getElementById("confirmDelete")
        //         .addEventListener("click", function confirmDeleteHandler() {
        //           let marketId = element.dataset.id
        //           // let actionType = element.dataset.actionType
        //           // console.log("market id: ", marketId);
        //           // incdecDataMarketLink(marketId, actionType);
        //           delete_market(marketId);
        //           $("#deleteConfirmationModal").modal("hide");
        //           this.removeEventListener("click", confirmDeleteHandler);
        //         });
        //     });
        //   });

        document.querySelectorAll(".perform_delete").forEach((element) => {
            element.addEventListener("click", () => {
              $("#deleteConfirmationModal").modal("show");
              document
                .getElementById("confirmDelete")
                .addEventListener("click", function confirmDeleteHandler() {
                  let marketId = element.dataset.id
                  let actionType = element.dataset.actionType
                  console.log("market id: ", marketId);
                  incdecDataMarketLink(marketId, actionType);
                  $("#deleteConfirmationModal").modal("hide");
                  this.removeEventListener("click", confirmDeleteHandler);
                });
            });
          });
        $(".market-suspend").on("click", function () {
          let t = $(this);
          incdecDataMarketLink(t.attr("data-id"), t.attr("data-action-type"));
        }),
        $(".market-ball-running").on("click", function () {
          let t = $(this);
          incdecDataMarketLink(t.attr("data-id"), t.attr("data-action-type"));
        }),
        $(".market-active").on("click", function () {
          let t = $(this);
          incdecDataMarketLink(t.attr("data-id"), t.attr("data-action-type"));
        });
    }
  );
}
function incdecDataMarketLink(t, a) {

  $.post(
    "/admin_panel/api/incdecDataMarketLink",
    { link_id: t, action_type: a },
    function (t) {
      let a = JSON.parse(JSON.stringify(t));
      1 == a.reload
        ? getMarketLink(match_id, user_id)
        : a.data.forEach(function (t) {
            let a = t._id;
            var e = t.match_yes.toFixed(2),
              n = t.match_no.toFixed(2);
            1 == t.market_type &&
              ((e = t.match_yes.toFixed(0)), (n = t.match_no.toFixed(0)));
            let i = "",
              s = "";
            switch (t.active_status) {
              case 0:
                (i = "Active"),
                  (s =
                    "<button class='btn btn-sm btn-danger' title='Suspend' onClick=\"updateStatus('" +
                    t._id +
                    "',1)\"><i class='fa fa-times' aria-hidden='true'></i></button><button class='btn btn-sm btn-danger' title='Ball Running' onClick=\"updateStatus('" +
                    t._id +
                    "',2)\"> <i class='fa fa-circle' aria-hidden='true'></i> </button>");
                break;
              case 1:
                (i = "Suspended"),
                  (s =
                    "<button class='btn btn-sm btn-primary' title='Active' onClick=\"updateStatus('" +
                    t._id +
                    "',0)\"> <i class='fa fa-check-square' aria-hidden='true'></i> </button>");
                break;
              case 2:
                (i = "Ball Running"),
                  (s =
                    "<button class='btn btn-sm btn-success' title='Active' onClick=\"updateStatus('" +
                    t._id +
                    "',0)\"> <i class='fa fa-check-square' aria-hidden='true'></i> </button>");
            }
            let c = "";
            switch (t.hide_and_show_status) {
              case 0:
                c =
                  "<button class='btn btn-sm btn-success' onclick=\"getModelInfo('" +
                  t._id +
                  "')\"> <i class='fa fa-pencil' aria-hidden='true'></i> </button><button class='btn btn-sm btn-danger' onclick=\"showhide('" +
                  t._id +
                  "'," +
                  t.hide_and_show_status +
                  ")\" title='Hide' ><i class='fa fa-eye-slash' aria-hidden='true'></i></button><button class='btn btn-sm btn-danger'><i class='fa fa-trash' aria-hidden='true'></i></button>";
                break;
              case 1:
                c =
                  "<button class='btn btn-sm btn-success' onclick=\"getModelInfo('" +
                  t._id +
                  "')\"> <i class='fa fa-pencil' aria-hidden='true'></i> </button><button class='btn btn-sm btn-success' onclick=\"showhide('" +
                  t._id +
                  "'," +
                  t.hide_and_show_status +
                  ")\" ><i class='fa fa-eye' aria-hidden='true'></i></button><button class='btn btn-sm btn-danger'><i class='fa fa-trash' aria-hidden='true'></i></button>";
            }
            $("#match_id" + a).html(t.match_name),
              $("#match_diff" + a).html(t.diff),
              $(".updateYes" + a).html(e),
              $(".updateNo" + a).html(n),
              $(".rank" + a).html(t.ranking),
              $(".showHide" + a).html(c),
              $(".currentStatus" + a).html(i),
              $(".btnChange" + a).html(s);
          });
    }
  );
}
$(function () {
  getMatchodds(match_id, user_id),
    getMarketLink(match_id, user_id),
    $(".market-link").on("click", function (t) {
      t.preventDefault(),
        getMatchodds3(match_id, user_id),
        $("#marketLinkModal").modal();
    }),
    $("#link_market").on("click", function (t) {
      var a = [];
      if (
        ($("input[name='mSelect[]']").each(function () {
          $(this).is(":checked") && a.push({ mar_id: this.value });
        }),
        a.length > 0)
      )
        $.post(
          "/admin_panel/api/add_market_link",
          {
            match_id: match_id,
            user_id: user_id,
            market_list: JSON.stringify(a),
          },
         async function (t) {
          try{
              alert("Linked"),
              await $("#marketLinkModal").modal(),
              await getMarketLink(match_id, user_id);
              window.location.reload()
            }catch(error){
              console.log("Error", error)
            }
          }
        );
      else alert("No Market Selected");
    });
});




    </script>
</body>

</html>